body {
  margin: 0;
  background-color: rgb(216, 216, 216);
  height: 100px;
  width: 100%;
}
header {
  background-color: rgb(67, 67, 67);
  width: 100vw;
  height: 150px;
}

main {
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  width: 75%;
  height: 75vh;
}

footer {
  background-color: black;
  margin: 0 auto;
  width: 75%;
  height: 10vh;
}
